Source: installer-data-antix
Section: admin
Priority: optional
Maintainer: anticapitalista <anticapitalista@riseup.net>
Build-Depends: debhelper (>= 9.20120115),
Standards-Version: 3.9.8
Vcs-Git: git://github.com/MX-Linux/installer-data-antix

Package: installer-data-antix
Depends: 
Provides: installer-data
Architecture: all
Description: Branding and installer.conf data for mx/antiX installer

